body {
   margin: 0;
    padding: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gallery-item {
    flex: 1 1 4em; /* Cada imagen ocupa al menos 300px */
    margin: 10px;
    overflow: hidden;
}

.gallery-item img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.gallery-item img:hover {
    transform: scale(1.1); /* Zoom al pasar el ratón sobre la imagen */
}

@media(min-width:600px){
    .gallery-item {
        flex: 1 1 4em;
    }

}


@media(min-width:1024px){
    .gallery-item {
        flex: 0 1 10em;
    }

    .gallery-item img {
      padding-bottom: 1em;
    }
}